{% extends 'root_site.html' %}

{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "accounts/css/auth.css" %}">
{% endblock %}

{% block content %}
    <form class="box" action="" method="POST">
        {% csrf_token%}
        <h1>Login</h1>
{#<!--        {{ form.email }}-->#}
{#<!--        {{ form.password }}-->#}
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="" value="Login">
        <a href="{% url 'accounts:password_reset' %}">Reset password</a>
        {% for message in messages %}
            <p style="color: white" id="messages">{{ message }}</p>
        {% endfor %}
      </form>
{% endblock %}