{% extends "admin/base_site.html" %}

{% load items_extras services_extras %}

{% block title %} {{ title }} {% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'books:home' %}">{{ site_header|default:_('Book store') }}</a></h1>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
    <div class="content" style="display: flex; gap: 2rem;">
        <section class="menu">
            <section class="menu__type">
                <h2>Товары</h2>
                {% list_type %}
            </section>

            <section class="menu__category">
                <h2>Категории</h2>
                {% list_category %}
            </section>

        </section>

        <section class="main-content" style="width: 75%;">
            {% block main-content %}{% endblock %}
        </section>

        <section class="account" style="right: 5em; position: absolute;">
            {% if  request.user.id %}
                <h3>Привет, {{ request.user.first_name }}</h3>
                <p><a href="{% url 'accounts:account' request.user.id %}"> Account </a></p>
                <p><a href="{% url 'services:cart' %}"> Cart ({% count_items request.user %}) </a></p>
                <a href="{% url 'accounts:logout' %}"> Logout </a><br>
            {% else %}
                <p><a href="{% url 'accounts:login' %}"> Login </a></p>
                <a href="{% url 'accounts:registration' %}"> Registration </a>
            {% endif %}
            <form>
                <br><br>
                <p><input type="search" name="search_item" formaction="{% url 'books:home' %}" placeholder="Search"></p>
            </form>
        </section>
    </div>
{% endblock %}